* {
/*  background-color: skyblue;*/
}

body {
  position: fixed;
  overflow-y:scroll;
  margin:0;
}

.dan{
  background-image: url("https://thebestclicker.github.io/pics/dan.jpg");
/*  background-color: black;*/
  background-repeat: no-repeat;
/*  background-size: 300px 400px;*/
  float: left;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#mobile{
  /*background-image: url("https://thebestclicker.github.io/pics/dan.jpg");*/
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
